<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div>
    <h1 id="heading">Code Converter</h1>
  </div>
  <hr>
</div>

<div style="text-align: center">
  <h2 id="JtoP">Convert your Java-STS Project to Python-Flask</h2>
</div>

<div style="background-color: white">
  <div class="content">
    <div>
      <h2 id="cf">Choose a file</h2>
    </div>
    <div class="inputFileDiv">
      <input type="file" (change)="onChangeFile($event)">
    </div>
  </div>
</div>

<br><br>
<div id="infoSection" *ngIf="dataUnderProcess==true">
<span id="infoSectionMsg">Please Wait while your data is being processed :)</span>
</div>
<br><br>

<div class="downloadBtn">
  <div class="dBtn">
    <button mat-raised-button color="warn" [disabled]="btnDisabled" (click)="onDownloadClick()">Download</button>
  </div>
</div>

<router-outlet></router-outlet>
